.hero {
  padding-block-start: 16px;
}
.hero-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero-image {
  text-align: center;
}
.hero-social {
  padding-block-end: 24px;
}
.hero h1 {
  font: var(--headling3);
  margin: 0;
}
.hero h1 span:nth-of-type(1) {
  font: var(--headling5);
  display: block;
}
