@import "../css/button.css";
@import "../css/button-icon.css";
@import "../css/header.css";
@import "../css/hero.css";
@import "../css/wrapper.css";
@import "../css/menu.css";
@import "../css/desciption.css";
@import "../css/testimonial.css";


:root {
  --fontBase: 'Poppins', sans-serif;
  --headling1: bold 95px/153.7px var(--fontBase);
  --headling2: bold 59px/95px var(--fontBase);
  --headling3: bold 48px/77px var(--fontBase);
  --headling4: bold 34px/55px var(--fontBase);
  --headling5: bold 24px/38px var(--fontBase);
  --body1: 16px/25px var(--fontBase);
  --body2:  14px/22px var(--fontBase);
  --button: bold 14px/22px var(--fontBase);
  --caption:  12px/19px var(--fontBase);
  --purple: #310A90;
  --green: #42E2B8;
  --white: #ffffff;

  --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
}
body {
  background: var(--gradient);
  color: var(--purple);
  min-block-size: 100vh;
  font: var(--body1);
}