.testimony {
  padding: 40px;
}
.testimony-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.testimony-image img{
  max-inline-size: 100%;
}
.testimony-title {
  background: var(--purple);
  color: var(--white);
  font: var(--headling5);
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  align-self: flex-start;
  text-decoration: none;
  box-shadow: -4px 4px 0 var(--white);
}

@media screen and (min-width: 768px) {
  .testimony {
    display: flex;
    align-items: center;
    padding: 80px;
  }
  .testimony-description {
    flex: 1;
  }
  .testimony:nth-child(odd) .testimony-image {
    order: 2;
    flex: 1;
    text-align: center;
  }
}