.testimonial img {
  display: block;
  margin: auto;
}
.testimonial {
  font: var(--body1);
  padding: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(39.7657px);
  border-radius: 24px;
}
.testimonial span {
  font: var(--caption);
  font-weight: 400;
}